:root {
    --black: #353535;
    --white: #ffffff;
    --transition: 0.2s ease all
}

.product {
    transition: var(--transition);
}

.product .card-subtitle {
    height: 50px;
}

.product .card-img-top .img-container,
.product-form-row .card-img-top .img-container {
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
    transition: var(--transition);
}

.product:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    transform: translateY(-10px);
    -webkit-box-shadow: 5px 15px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 15px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 15px 5px 0px rgba(0, 0, 0, 0.5);
}

.product:hover .card-img-top .img-container {
    background-color: var(--white);
    color: var(--black);
}

.product:hover .text-muted {
    color: #B4B4B4 !important;
}

.product-form-row .form-group {
    position: relative;
}

.product-form-row .floating-label {
    position: absolute;
    pointer-events: none;
    left: 0.75rem;
    top: 10px;
    transition: 0.2s ease all;
    opacity: .75;
}

.product-form-row input:focus ~ .floating-label,
.product-form-row input:not(:focus):valid ~ .floating-label,
.product-form-row select:focus ~ .floating-label,
.product-form-row select:not([value=""]):valid ~ .floating-label {
    top: 0px;
    bottom: 10px;
    left: 0.75rem;
    font-size: 11px;
    opacity: .5;
}

.product-form-row select,
.product-form-row select:focus {
    padding-left: 0.5rem !important;
}

.product-form-row input,
.product-form-row input:focus {
    padding-top: 1rem !important;
}

.product-form-row select,
.product-form-row select:focus {
    padding-top: 0.85rem;
}


